Flask ==2.2.0
aiofiles ==23.2.1
alembic ==1.13.1
discord ==2.1.0
discord-py-interactions ==5.11.0
emoji ==2.8.0
numpy ==1.22.2
openpyxl ==3.1.2
pandas ==2.1.1
pillow ==10.2.0
pydantic ==2.5.2
pydantic-settings ==2.1.0
pynput ==1.7.6
python-dotenv ==1.0.0
replit ==3.2.4
sqlalchemy ==2.0.25
urllib3 ==1.26.12
