numpy>=1.23.2
Flask==2.2.0
urllib3==1.26.12
discord==2.1.0
emoji==2.8.0
pandas==2.1.1
openpyxl==3.1.2
aiofiles==23.2.1
python-dotenv==1.0.0
pynput==1.7.6
pydantic==2.5.2
pydantic-settings==2.1.0
discord-py-interactions==5.11.0
pillow==10.2.0
sqlalchemy==2.0.25
alembic==1.13.1
pytest==7.4.4
pytest-cov==4.1.0
taskipy==1.12.2
blue==0.9.1
ruff==0.1.9
httpx==0.26.0
isort==5.13.2
pytest-asyncio==0.23.3
